@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin-left: 20px;
  margin: 0 8px;
  display: inline-block;
  line-height: 20px;
}

.dropdown .dropbtn {
  padding: 6px 13px;
  margin: 0;
  font-size: 20px;
  background-color: green;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-decoration: none;
  border: 0px solid #FEFEFA;
  border-radius: 2px;
  transition: .4s;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 2px 6px;
  display: block;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  background-color: pink;

}

.dropdown-content a:hover {
  background-color: #F64A8A;
}

.dropdown:hover .dropdown-content {
  display: block;
}
span{
		text-indent:-750%;
	}
	
.dropdown {
  float: left;
  overflow: hidden;
  margin-left: 20px;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
}

.dropdown .dropbtn {
  padding: 6px 13px;
  margin: 0;
  font-size: 20px;
  background-color: green;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-decoration: none;
  border: 0px solid #FEFEFA;
  border-radius: 2px;
  transition: .4s;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 6px;
  display: block;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  background-color: pink;

}

.dropdown-content a:hover {
  background-color: #F64A8A;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.wrapper{
	background: url(bg1.jpeg) no-repeat;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:100% 100%;
	height: 100vh;
}
.navbar1{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
}
.navbar .logo{
	width: 140px;
	height: auto;
	padding: 20px 100px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a.a1{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
	background: green;
	border-radius: 2px;
}
.wrapper .center{
	position: absolute;
	left: 10%;
	top: 40%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
.center h1{
	color: white;
	font-size: 70px;
	width: 900px;
	font-weight: bold;
	text-align: center;
}
.center h2{
	color: white;
	font-size: 70px;
	font-weight: bold;
	margin-top: 10px;
	width: 885px;
	text-align: center;
}
.center .buttons{
	margin: 35px 280px;
}
.buttons button{
	height: 55px;
	width: 150px;
	font-size: 18px;
	font-weight: 600;
	color: #FEFEFA;
	background-color: #8DB600;
	outline: none;
	cursor: pointer;
	border: 7px solid #FEFEFA;
	border-radius: 10px;
	transition: .4s;
}

.buttons button:hover{
	background: gold;
}
